*{box-sizing: border-box; margin: 0; padding: 0;}
a{text-decoration: none; color: #000;}
i,em{font-style: normal;}
html,body{height: 100%;}
.bdetails3_wrap{height: 100%;}
.mCSB_inside>.mCSB_container{margin-right: 10px;}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{background-color: #426d98;}
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{background-color: #426d98;}

#td *{box-sizing: content-box !important;}

.BMapLib_nav_tab li:first-child{border-left: 0;}
.BMapLib_sendToPhone{display: none !important;}

.map_wrap{position: relative; width: 100%; height: 100%;}
.map_list {
	background: #fff;
	width: 372px;
	height: 390px;
	position: absolute;
	top: 40px;
	right: 40px
	
}

.map_loading{
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.1);
	top: 0;
	left:0;
	display: none;
}
.map_loading img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
}

.map_nav{
	background: #f4f4f4;
	height: 36px;
}
.map_nav a{
	color: #666;
	display: inline-block
}

.map_nav a {
	float: left;
	padding: 0 17px;
	line-height: 34px;
	border-top: 2px #f4f4f4 solid;
	font-size: 12px
}


.map_nav a.active {
	border-top-color: #426d98;
	margin-top: 0;
	background-color: #fff
}
.map_con{padding: 10px 20px 20px;}



.map_con ul{
	width: 332px;
    height: 324px;
    padding: 10px 0 20px;
    overflow-y: auto;
}

.map_con ul li {
	border-bottom: 1px #f3f3f3 dotted;
	padding: 5px 10px;
	cursor: pointer;
}
.map_con ul li:hover {
	background: #fafbff;
}
.litop{line-height: 24px; position: relative;}
.litop .s1{
	float: left;
	display: inline-block;
	width: 210px;
	padding-right: 10px;
	overflow: hidden;
}
.litop .s2{
	  position: absolute;
    right: 0;
    top: 0;
    height: 24px;
    line-height: 24px;
    text-align: right;
}
.p1{
	clear: both;
	line-height: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 12px;
}

.icon{
	background: url(../images/icon_2017.png) no-repeat;
    font-size: 0;
    display: inline-block;
    width: 15px;
    height: 15px;
    float: left;
    margin: 4px 3px 0 0;
}
.em1{background-position: left -137px;}
.em2{background-position: -15px -137px;}
.em3{background-position: -32px -137px;}
.em4{background-position: -47px -137px;}
.em5{background-position: -63px -137px;}
.em6{background-position: -80px -137px;}
.em7{background-position: -96px -137px;}

.map_tabs{line-height: 24px;border-bottom: 2px #f3f3f3 solid;}
.map_tabs a{
	  padding: 0 10px;
    position: relative;
    bottom: -2px;
    display: inline-block;
    color: #666;
}
.map_tabs a.cur{
	border-bottom: 2px #87c4e5 solid;
}
.map_cc ul{height: 296px;}
.map_cc ul:nth-child(2){display:none;}
