*{padding: 0; margin: 0; cursor: pointer; box-sizing: border-box; font-size: 14px; cursor: pointer;-webkit-tap-highlight-color:transparent;}
dd,dt{padding: 0; margin: 0;}
a{text-decoration:none ;}
i{font-style: normal;}
ul,li{list-style: none;}
html{font-size: 13.333333vw;}
.bg{background: #fdf9f0;}
.wh100{width: 100%;}
.fl{float: left;}
.fr{float: right;}
.clear{clear: both;}
input{outline: none;}
video{object-fit: cover;}
body.off, html.off{
	overflow: hidden;
	height: 100vh;
}

.head{position: relative; font-size: 0; overflow: hidden;}
.v_btn{position: absolute; top:50%; left: 50%; transform: translate(-50%,-50%);  -webkit-transform: translate(-50%,-50%); width: 0.82rem;}
.head i{position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.4);}
.head video{display: none; width: 100%; height: 100%;position: absolute; top: 0; left: 0; z-index: 1;}
.more_video,.more_video1{font-size: 12px; padding: 0 0.4rem 0 0.25rem; display: inline-block; position: absolute; top: 0.23rem; left: 0; background: #f4ce77; color: #000; height: 24px; line-height: 24px; border-radius: 0 12px 12px 0; z-index: 2;}
.head_icon{position: fixed; top: 0.45rem; right: 0.25rem; width: 20px; z-index: 2; text-align: center;}
.head_icon img{width: 0.3rem; display: block; margin: 0 auto;}
.head_icon1{margin-bottom: 0.3rem;}
.head_icon span{
	display: block;
	width:0.4rem;
	height:1px;
	background: #a17433;
	margin: 0.2rem auto;
}
.head_icon b{
	color:#fff;
	font-weight: normal;
	font-size:12px;
	line-height: 18px;
}
.swiper-slide{
	position: relative;
}
.wrap{width: 7rem; margin: auto; overflow: hidden;}
.wrap_in{ border: #efd9b5 solid 0.04rem; padding: 0 0.26rem; background: #fff; border-radius: 0.08rem; overflow: hidden;}

.wrap_in1{/*margin-bottom: 0.6rem;*/}
.wrap_in1 .tit{font-size:16px; color:#000000; text-align: center; height: 0.67rem; line-height: 0.67rem; background: #ffdd00; border-radius: 0 0 0.2rem 0.2rem; margin-bottom: 0.5rem;}
.yuer_db{width: 4.45rem; margin: auto; display: block; margin-bottom: 0.25rem;}
.pk{ margin: 0.4rem 0;}
.pk ul{padding-bottom: 0.4rem; overflow: hidden;}
.pk ul li{width: 50%; float: left; }
.pk ul li:nth-child(1){padding-right: 0.7rem; border-right: #e4cca3 solid 1px;}
.pk ul li:nth-child(2){padding-left: 0.7rem;}
.pk ul li dl dt{font-size: 14px; color: #6b6b6b; font-weight: bold; text-align: right;}
.pk ul li dl dd.info{font-size: 12px;color: #6b6b6b; line-height: 20px; height: 60px; overflow: hidden; text-align: right; margin-bottom: 0.25rem;}
.pk ul li:nth-child(2) dl dt{text-align: left;}
.pk ul li:nth-child(2) dl dd.info{text-align: left;}
.support{font-size: 0.24rem; color: #fff; font-weight: bold; text-align: center; width: 1.43rem; height: 0.55rem; line-height: 0.55rem;position: relative;}
.support span{ font-size: 12px; position: absolute; left: 0; bottom: -1px; line-height: 14px; width: 100%; transform: scale(0.8); -webkit-transform: scale(0.8); -ms-transform: scale(0.8); -moz-transform: scale(0.8); display: none; -o-transform: scale(0.8); }
.pk ul li:nth-child(1) .support{border-radius: 0.27rem; background-color: rgb(248, 123, 104); box-shadow: 0px 5px 24px 0px rgba(248, 135, 116, 0.75);}
.pk ul li:nth-child(1) .support.end{box-shadow: 0px 5px 24px 0px rgba(89, 89, 89, 0.75);}
.pk ul li:nth-child(2) .support{border-radius: 0.27rem; background-color: rgb(73, 136, 215); box-shadow: 0px 5px 24px 0px rgba(73, 136, 215, 0.75);}
.pk ul li:nth-child(2) .support.end{box-shadow: 0px 5px 24px 0px rgba(89, 89, 89, 0.75);}
.pk.end .support.on{line-height: 18px;}
.pk.end .support.on span{display: block;}
.pk.end .support.end {background: #595959b5;}
.pk_wrap{}


.comment{clear: both;}
.com_t{line-height: 20px; overflow: hidden; margin-bottom: 0.35rem;}
.com_t b{font-size: 16px; color: #000;}
.com_t span{font-size: 14px; color:#b9b9b9;}

.yuer_head{width: 50px; border-radius: 50%;}
.com_in{margin-bottom: 0.1rem;}
.com_in_txt{width: calc(100% - 60px); width: -moz-calc(100% - 60px); height: 30px; border: none; background: #e6e6e6; font-size: 14px; color: #b9b9b9; padding:  0 8px; border-radius: 4px; margin: 10px 0;}
.com_in_txt::-webkit-input-placeholder{color: #b9b9b9; }

.wrap_in1 .com_list ul li{padding: 0.25rem 0; border-bottom: #e8e8e8 solid 1px; position: relative;}
.wrap_in1 .com_list ul li dl{width: calc(100% - 60px); width: -moz-calc(100% - 60px); padding-right: 50px;}
.wrap_in1 .com_list ul li dl dt{font-size: 14px; color: #000;}
.wrap_in1 .com_list ul li dl dd{font-size: 0;}
.wrap_in1 .com_list ul li dl dt .tips{font-size: 12px; display: inline-block; padding: 0 8px;color: #fff; font-weight: bold; margin-left: 5px;}
.wrap_in1 .com_list ul li dl dt .tips.t1{background: #f87b68;}
.wrap_in1 .com_list ul li dl dt .tips.t2{background: #4988d7;}
.wrap_in1 .com_list ul li dl dd p{ color: #b9b9b9;font-size: 14px; /*overflow: hidden; text-overflow: ellipsis; white-space: nowrap;*/}
.wrap_in1 .good{width: 50px; text-align: center; position: absolute; right: 0; /*top: 50%; transform: translateY(-50%); -webkit-transform: translateY(-50%);*/ font-size: 0; top: 0.25rem;}

.wrap_in1 .good .good_img{width: 24px; margin: auto; margin-bottom: 3px; position: relative;}
.wrap_in1 .good img{ width: 24px; }
.wrap_in1 .good img.good_img_yes{position: absolute; top: 50%; left: 50%;  transform-origin: center center; transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%); width: 0;transition: width 0.3s;}
.wrap_in1 .good p{font-size: 14px; color: #b9b9b9;}

.wrap_in1 .good.on img.good_img_yes{width: 100%;}
.wrap_in1 .good.on p{color: #fe3c3c;}

.more_link{ color: #000000; text-align: center; display: block; line-height: 50px;}
.more_link img{  margin-left: 10px; height: 14px; vertical-align: top; margin-top: 18px;}

.more_tit{text-align: center; font-size: 16px; color: #975821; font-weight: bold; position: relative; margin-bottom: 0.2rem;}
.more_tit:after{content: ''; position:absolute; width: 100%; height: 1px; background: #efd9b5; top: 50%; left: 0; z-index: -1;}
.more_tit span{background: #fdf9f0; padding: 0 5px; display: inline-block;}

.wrap_in2{padding: 0.26rem 0.26rem 0; margin-bottom: 0.26rem;}
.wrap_in2 .head{margin-bottom: 0.36rem;}
.wrap_in2 .head a{display: block; font-size: 0;}
.wrap_in2 .tit{border-radius: 0.2rem;}

.wrap_in2 .com_list{padding: 0.25rem 0; border-bottom: #e8e8e8 solid 1px;}
.wrap_in2 .com_list p{font-size: 14px; color: #b9b9b9; /*overflow: hidden; text-overflow: ellipsis; white-space: nowrap; */line-height: 1.75em;}
.wrap_in2 .com_list p span{color: #000;}
.wrap_in2 .com_t{margin-bottom: 0;}

.pk_wrap{overflow: hidden; height: 54px; border-radius: 3px; overflow: hidden;}
.pk_wrap p{color: #fff; line-height: 22px;}
.p1,.p1 i{font-size: 20px; font-weight: bold;} 
.p2,.p2 i{font-size: 12px; }

.pk_txt{margin: 0 8px;}

.pk_l{background: #f87b68 !important; padding: 5px 0;}

.pk_m{ height: 100%; width: 24px; background-image: url(../images/support_bg1.jpg) !important; background-size: 100% 100%;background-repeat: no-repeat;}
.pk_wrap1 .pk_m{background-image: url(../images/support_bg2.jpg); }
.pk_wrap1 .pk_l{background: #efd9b5;}
.pk_wrap1 .pk_r{background: #4988d7;}

.pk_r{background: #4988d7 !important; padding: 5px 0;border-top-right-radius: 3px;border-bottom-right-radius: 3px;}
.pk_r p{text-align: right;}

.x_box.bottom-box{display: none;}
.x_box.bottom-box.on{display: block;}
.x_box .bottom{ position: fixed; bottom: 0; left: 0; font-size: 14px; background: rgba(197, 165, 88, 1); z-index: 4; padding:0.3rem 0.25rem; color: #fff; display: block; width: 100%; }

.x_box .bottom a.send{ position: absolute; right: 0.25rem; top: 0;  width: 1rem; height: 20px; line-height:18px; text-align: center; color: #fff; border: 1px solid rgba(255,255,255,0.5); border-radius:20px;z-index: 4;}

.x_box .bottom .title{position: relative; overflow: hidden; padding-bottom: 0.25rem;}

.x_box .bottom .title .choice{color: #fff; overflow: hidden;}
.x_box .bottom .title .choice dl{position: relative; line-height: 20px;}
.x_box .bottom .title .choice dl:nth-of-type(1){margin-right: 10px;}
.x_box .bottom .title .choice dd{padding-left: 25px; }
.x_box .bottom .title .choice dt{position: absolute;width: 20px;height: 20px;background: url('../images/checkbox.png') no-repeat center center; left: 0;top: 50%;margin-top: -10px; background-size: 100% 100%;}
.x_box .bottom .title .choice dl.on dt{background-image: url('../images/checkbox_on.png');}
.x_box .bottom .title .choice dl:nth-child(2).on dt{background-image: url('../images/checkbox_on_blue.png');}

.x_box .bottom textarea{ background: #dcc490; border: none;  border-radius: 3px ; width: 100%; line-height: 20px; height: 80px; padding: 10px 20px; color: #fff;}
.x_box .bottom textarea::-webkit-input-placeholder{color: #fff;}


.layer{ position:fixed; background-image: url(../images/layer_bg.png); background-position: center center; background-size: cover;  width: 100%; height: 100%; top: 0; left: 0; z-index: 10; display: none; }

.layer_follow{position: absolute; width: 100%; height: 100%; text-align: center; top: 0; left: 0; color: #fff; padding-top: 3.53rem; display: none;z-index: 999;}
.layer_follow .follow_ewm{ margin: auto; margin-bottom: 0.4rem; width: 3rem; background-image: url(../images/qr_finger_mark.gif);
    background-size: 100% 100%; background-color: #fff;}
.layer_follow .follow_ewm .ewm{width: 100%; opacity: 0.5;}
.follow_close{width: 0.6rem; position: absolute; top: 0.55rem; right: 0.55rem;}
.layer_follow p.fp1{font-size: 0.3rem; margin-bottom: 0.15rem;}
.layer_follow p.fp2{font-size: 0.25rem;}

.layer_share{position: absolute; width: 100%; height: 100%; text-align: center; top: 0; left: 0; color: #fff; padding-top: 1.76rem; display: none;}

.layer_share .logo{ display: inline-block; padding: 0.1rem; background: rgba(255,255,255,0.1); margin-bottom: 0.3rem;}
.layer_share .logo img{width: 2.32rem;}
.layer_share p.sp1{font-size: 0.4rem; margin-bottom: 0.8rem;}
.layer_share p.sp2{width: 5.23rem; position: relative; margin: auto;margin-bottom: 0.45rem; }
.layer_share p.sp2:before{content: ''; position: absolute; left: 0; top: 50%; width: 1.73rem; height: 1px; background: #fff;}
.layer_share p.sp2:after{content: ''; position: absolute; right: 0; top: 50%; width: 1.73rem; height: 1px; background: #fff;}
.layer_share p.sp2 span{font-size: 0.4rem; padding: 0 5px;}
.layer_share > dl dd{width: 1.85rem; display: inline-block;}
.layer_share > dl dd img{width: 1.17rem; margin-bottom: 0.2rem;}
.layer_share > dl dd p{font-size: 0.3rem;}

.share_close{width: 0.6rem; position: absolute; top: 0.55rem; right: 0.55rem;}

.weixin_layer{position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.9); display: none;}
.weixin_icon{width: 2.2rem;}

.poster_layer{position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.9); display: none;}
.poster_layer dl{width: 6rem; margin: auto; padding-top: 1.17rem; position: relative;}
.poster_layer dl dt{position: relative; z-index: 2;}
.poster_layer dl dt h2{ font-size: 0.32rem; font-weight: bold; line-height: 0.7rem; background: #25a8fa;}
.poster_layer dl dt img{width: 100%;}
.poster_layer dl dd{position: absolute; width: 0.71rem; top: 0.15rem; right: 0.23rem; z-index: 1;}
.poster_layer dl dd img{width: 100%;}
.poster_layer dl dd i{width: 1px; background: #fff; height: 0.34rem; display: block; margin-left: 0.35rem;}

.layer_info{width: 6rem; text-align: center;font-size: 0.3rem; background: #fff; position: fixed;top: 50%; left: 50%;  transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%); z-index: 4; box-shadow: 0 0 10px rgba(0,0,0,0.3); display: none;}
.info_con{padding: 0.5rem 0.25rem; color: #333; border-bottom: #DFD2BD solid 1px;}
.info_btn{color: #25a8fa; line-height: 0.8rem;}

.hotTitle{
	text-align: center;
	position: relative;
	padding:0.4rem 0;
}
.hotTitle:before{
	content:"";
	display: block;
	width:1.55rem;
	height:1px;
	background: #f87b68;
	position: absolute;
	left:0rem;
	top:50%;
}
.hotTitle:after{
	content:"";
	display: block;
	width:1.55rem;
	height:1px;
	background: #f87b68;
	position: absolute;
	right:0rem;
	top:50%;
}
.hotTitle:after{

}
.hotTitle span{
	display: inline-block;
	width:0.64rem;
	height:0.64rem;
	line-height: 0.64rem;
	font-size:0.32rem;
	text-align: center;
	color:#e53435;
	box-shadow: 0 0 10px rgba(248,123,104,0.75);
	border-radius: 100%;
	margin-right: 0.06rem;
}
.hotTitle span:last-child{
	margin-right: 0;
}

.head_icon{
	width:0.54rem;
	background: #c08b3d;
	border-radius: 0.27rem;
	padding:0.36rem 0;
}

.swiper-pagination-bullet{
	width:20px!important;
	height:2px!important;
	background: #ad770d!important;
	border-radius: 0!important;
	opacity:1!important;
}
.swiper-pagination-bullet-active{
	opacity:1!important;
	background:#ffdd00 !important;
}

.viewMore{
	color:#000;
	text-align: center;
	padding-bottom: 0.44rem;
	display: block;
}
.viewMore em{
	font-size:0.24rem;
	padding-right: 24px;
	background: url(../images/down_arr.png) no-repeat right center;
	background-size:auto 0.13rem;
}

@media only screen and (max-width: 375px) {
	.wrap_in1 .tit{font-size: 14px;}
	
	.pk ul li:nth-child(1){padding-right: 15px;}
	.pk ul li:nth-child(2){padding-left: 15px;}
}
@media only screen and (max-width: 320px) {
	.wrap_in1 .tit{font-size: 13px;}
	.more_link{font-size: 12px;}
	
	.pk ul li:nth-child(1){padding-right: 15px;}
	.pk ul li:nth-child(2){padding-left: 15px;}
}




.layer.layer1{background: none;/* display: block;*/ z-index: 1000;}
.layer_prize{position: absolute; width: 100%; height: 100%; text-align: center; top: 0; left: 0; color: #fff; display: none; background-size: cover;}

/*.prize_bg{position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);  -webkit-transform: translate(-50%,-50%); max-height: 100%; max-width: 100%;}*/
.prize_bg{position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);  -webkit-transform: translate(-50%,-50%); width: 100%; }
.layer_money{padding-top:3.35rem;  /*background-image: url(../images/layer_money_bg.png); */}

.money_con{width: 100%; position: relative;}
/*.money_con .money_img{width: 100%;}*/
.money_ewm{position: absolute; width: 2.28rem; top: 3.85rem; left: 50%; transform: translateX(-50%); -webkit-transform: translateX(-50%);}

.prize_close{position: absolute; width: 0.82rem; bottom: 0.77rem; left: 50%; transform: translateX(-50%); -webkit-transform: translateX(-50%); z-index: 2;}

.layer_dlb{ /*background-image: url(../images/layer_dlb_bg.png);*/ padding-top: 8.65rem;}

.prize_ewm{width: 2.5rem;position: relative; z-index: 2;}

.layer_zc{ /*background-image: url(../images/layer_zc_bg.png);*/ padding-top: 8.05rem;}
.layer_xy{/*background-image: url(../images/layer_xy_bg.png);*/ padding-top: 8.05rem;}
.layer_xff{/*background-image: url(../images/layer_xff_bg.png); */padding-top: 8.05rem;}

.tt_wrap{padding: 0.35rem;}
.tt_img01{width: 2.07rem; margin-bottom: 0.5rem;}
.tt_wrap .tp1{text-align: center;}



.tt_txt01{width: 2.67rem; display: block; margin: auto; margin-bottom: 0.46rem;}
.tt_txt02{width: 3.18rem; display: block; margin: auto; margin-bottom: 0.87rem;}

.tt_tit{}

.bandit{}

.tt_inp{width: 100%; height: 0.8rem; border: none; padding: 0 0.3rem; border-radius: 6px; box-shadow: 0 0 18px #ccc; margin-bottom: 0.44rem; color: #b9b9b9; font-size: 16px;}
.tt_inp::-webkit-input-placeholder{color: #b9b9b9;}
.tt_btn{border-radius: 6px; box-shadow: 0 0 18px #ccc; margin-bottom: 0.44rem; overflow: hidden; position: relative;}
.tt_btn i{ width: 100%; height: 100%; top: 0; left: 0; background: transparent; z-index: 1; display: none; position: absolute;}
.tt_btn i.on{display: block;}
.tt_img03{width: 100%; border-radius: 3px; }
.tt_back{text-align: center; margin-bottom: 0.9rem;}
.tt_back a{color:#b9b9b9; text-decoration: underline !important;font-size: 16px;}

.tt_tb{margin-bottom: 0.5rem;}
.tt_tb h2{font-weight: bold; color:#000000;font-size: 16px; margin-bottom: 0.35rem;text-align: center;}
.tt_tb table{font-size: 12px; width: 100%;}
.tt_tb thead{color: #000000;}
.tt_tb thead tr th:nth-child(1){width: 22.8%; padding-right: 10px;}
.tt_tb thead tr th:nth-child(2){padding-right: 10px;}
.tt_tb thead tr th:nth-child(3){ width: 90px;}
.tt_tb tbody{color: #b9b9b9;width: 100%;}
.tt_tb tr{border-bottom: #e8e8e8 solid 1px;}
.tt_tb tr td,.tt_tb tr th{padding: 5px 0; line-height: 20px;}

.wrap_in .tit1{width: 3.6rem; margin: auto; margin-bottom: 0.25rem;}
.tt_con{ border-bottom: #e8e8e8 solid 1px; padding: 0 0.18rem; overflow: hidden;}
.tt_con p{color: #6b6b6b; font-size: 12px; line-height: 20px; margin-bottom: 10px; text-align: justify;}


.pt0{padding-top: 0;}
.pb0{padding-bottom: 0;}

.bandit{position: relative;}
.bandit_btn{width: 0.61rem; padding: 0 0.2rem; position: absolute; right: 0.25rem; top: 1.53rem; transition: all 0.3s; transform-origin: center bottom;}
.bandit_btn.on{ transform: rotate3d(1,0,0,180deg); -webkit-transform: rotate3d(1,0,0,180deg); -moz-transform: rotate3d(1,0,0,180deg); -ms-transform: rotate3d(1,0,0,180deg); -o-transform: rotate3d(1,0,0,180deg); }
.bandit i{ width: 100%; height: 100%; top: 0; left: 0; background: transparent; z-index: 1; display: none; position: absolute;}
.bandit i.on{display: block;}
.game-goods-wrap{ position: absolute; width: 5.1rem; height: 2.1rem; top: 0.84rem; left: 0.92rem;}
.game-goods-list {
	height: 100%;
	overflow: hidden;
}
.game-goods {
  position: absolute;
  width: 32%;
  height: 100%;
  z-index: 10;
  overflow: hidden;
}
.game-goods:first-child {
  left: -32%;
  transform: translateX(100%);
  -ms-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -o-transform: translateX(100%);
}
.game-goods:nth-child(2) {
  left: 50%;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.game-goods:last-child {
  left: 100%;
  transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -o-transform: translateX(-100%);
}
.game-goods-box{
	width: 100%;
	height:100%;
}
.game-goods-ul{
	position: relative;
	width: 100%;
	height:100%;
}
.game-goods-ul li{
	width: 100%;
	height:100%;
}
.bandit_imgs{width: 1.14rem; height: 1.14rem; border-radius: 50%; overflow: hidden; position: relative; top: 50%; left: 50%; transform: translate(-50%,-50%);  -webkit-transform: translate(-50%,-50%); background: #fff;}
.bandit_imgs img{width: 100%; height: 100%;}

.game-goods-ul{
	transition-timing-function: linear;
	-webkit-transition-timing-function: linear;
	-ms-transition-timing-function: linear;
	}

/* 20181123 */
.onprize span{float: left;}
.onprize .onprize-title{line-height: 0.6rem;border-bottom: 1px solid #e8e8e8;}
.onprize .onprize-title span:first-child,.onprize-list li span:first-child{width: 1.55rem;}
.onprize .onprize-title span:nth-of-type(2),.onprize-list li span:nth-of-type(2){width: calc(100% - 3.35rem);}
.onprize .onprize-title span:last-child,.onprize-list li span:last-child{width: 1.8rem;}
/* .onprize-list{height: 3.2rem;} */
.onprize-list li{overflow: hidden;line-height: 0.62rem;border-bottom: 1px solid #e8e8e8;}
.onprize-list li span{color: #b9b9b9;font-size: 0.28rem;}

.part_1 > p{margin-bottom: 0.15rem;text-align: center;color: #c08b3d;font-size: 12px;}

/*20181126*/
.layer1{/*display: block;*/}
.state{text-align: center;  padding: 0.2rem 0 0.5rem;}
.state a{text-decoration: underline !important;color: #000;}
.layer_state{background: rgba(0,0,0,0.8); /*display: block;*/}
.state_con{position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%);border: #efd9b5 solid 0.04rem; border-radius: 0.08rem; background: #fff; width: 7rem; height: 70%; padding: 0.35rem;  text-align: left; }
.state_con h1{color: #000; margin-bottom: 1em;}
.state_con p{font-size: 12px; color: #6b6b6b; line-height: 1.25em; margin-bottom: 1.25em;}

.state_con .mCSB_scrollTools{width: 6px;}
.state_con .mCSB_scrollTools .mCSB_dragger{background: #eace9f;}
.state_con .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{background: none;}
.state_con .mCSB_scrollTools .mCSB_draggerRail{background: none; border: #d6d6d6 solid 1px; width: 100%;}
.state_con .mCSB_inside>.mCSB_container{margin-right: 0.5rem;}

.scroll{width: 100%; height: 100%; position: relative;}
.state_close{position: absolute;width: 0.55rem;  right: 0 ;top: -0.85rem;}

.rule_tabs{width: 6.2rem; height: 0.67rem; line-height: 0.67rem; margin: auto; background: #eace9f; overflow: hidden;    border-radius: 0 0 0.2rem 0.2rem; text-align: center; margin-bottom: 0.3rem;}
.rule_tit{width:3.1rem; float: left; color: #fff; font-size: 16px;border-radius: 0 0 0.2rem 0.2rem; height: 100%;}
.rule_tit.on{background: #ffdd00; color: #000000; }

.rule_list{display: none;}
.rule_list.on{display: block;}


/*加载更多*/
.load-more-link { display: block; width: 100%;  margin: 0.2rem auto;  color: #000; text-align: center; cursor: pointer; }
#infscr-loading{ background:rgba(0,0,0,0.4); position:fixed; width:100px; height:50px; line-height:50px; font-size:16px; overflow:hidden; border-radius:10px; text-align:center; color:#fff; left:50%; top:50%; z-index:1000; margin:-15px 0 0 -50px; display: none !important;}
.lt9 #infscr-loading{filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="#99000000", EndColorStr="#99000000")}
#infscr-loading img{ position:absolute; left:50%; top:50%; margin:-57px 0 0 -75px; opacity:0.5; filter:alpha(opacity=50);}

.items,.item,.item-loader-container,.la-ball-atom.la-2x {
    margin: auto;
}

.la-ball-spin,.la-ball-spin>div{position:relative;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.la-ball-spin{display:block;font-size:0;color:#b3b3b3}
.la-ball-spin.la-dark{color:#333}
.la-ball-spin>div{display:inline-block;float:none;background-color:currentColor;border:0 solid currentColor}
.la-ball-spin{width:32px;height:32px; margin: auto;}
.la-ball-spin>div{position:absolute;top:50%;left:50%;width:8px;height:8px;margin-top:-4px;margin-left:-4px;border-radius:100%;-webkit-animation:ball-spin 1s infinite ease-in-out;-moz-animation:ball-spin 1s infinite ease-in-out;-o-animation:ball-spin 1s infinite ease-in-out;animation:ball-spin 1s infinite ease-in-out}
.la-ball-spin>div:nth-child(1){top:5%;left:50%;-webkit-animation-delay:-1.125s;-moz-animation-delay:-1.125s;-o-animation-delay:-1.125s;animation-delay:-1.125s}.la-ball-spin>div:nth-child(2){top:18.1801948466%;left:81.8198051534%;-webkit-animation-delay:-1.25s;-moz-animation-delay:-1.25s;-o-animation-delay:-1.25s;animation-delay:-1.25s}.la-ball-spin>div:nth-child(3){top:50%;left:95%;-webkit-animation-delay:-1.375s;-moz-animation-delay:-1.375s;-o-animation-delay:-1.375s;animation-delay:-1.375s}.la-ball-spin>div:nth-child(4){top:81.8198051534%;left:81.8198051534%;-webkit-animation-delay:-1.5s;-moz-animation-delay:-1.5s;-o-animation-delay:-1.5s;animation-delay:-1.5s}.la-ball-spin>div:nth-child(5){top:94.9999999966%;left:50.0000000005%;-webkit-animation-delay:-1.625s;-moz-animation-delay:-1.625s;-o-animation-delay:-1.625s;animation-delay:-1.625s}.la-ball-spin>div:nth-child(6){top:81.8198046966%;left:18.1801949248%;-webkit-animation-delay:-1.75s;-moz-animation-delay:-1.75s;-o-animation-delay:-1.75s;animation-delay:-1.75s}.la-ball-spin>div:nth-child(7){top:49.9999750815%;left:5.0000051215%;-webkit-animation-delay:-1.875s;-moz-animation-delay:-1.875s;-o-animation-delay:-1.875s;animation-delay:-1.875s}.la-ball-spin>div:nth-child(8){top:18.179464974%;left:18.1803700518%;-webkit-animation-delay:-2s;-moz-animation-delay:-2s;-o-animation-delay:-2s;animation-delay:-2s}.la-ball-spin.la-sm{width:16px;height:16px}.la-ball-spin.la-sm>div{width:4px;height:4px;margin-top:-2px;margin-left:-2px}.la-ball-spin.la-2x{width:64px;height:64px}.la-ball-spin.la-2x>div{width:16px;height:16px;margin-top:-8px;margin-left:-8px}.la-ball-spin.la-3x{width:96px;height:96px}.la-ball-spin.la-3x>div{width:24px;height:24px;margin-top:-12px;margin-left:-12px}@-webkit-keyframes ball-spin{0%,100%{opacity:1;-webkit-transform:scale(1);transform:scale(1)}20%{opacity:1}80%{opacity:0;-webkit-transform:scale(0);transform:scale(0)}}@-moz-keyframes ball-spin{0%,100%{opacity:1;-moz-transform:scale(1);transform:scale(1)}20%{opacity:1}80%{opacity:0;-moz-transform:scale(0);transform:scale(0)}}@-o-keyframes ball-spin{0%,100%{opacity:1;-o-transform:scale(1);transform:scale(1)}20%{opacity:1}80%{opacity:0;-o-transform:scale(0);transform:scale(0)}}@keyframes ball-spin{0%,100%{opacity:1;-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);transform:scale(1)}20%{opacity:1}80%{opacity:0;-webkit-transform:scale(0);-moz-transform:scale(0);-o-transform:scale(0);transform:scale(0)}}


.rule_ind{width:2.72rem; height: 0.67rem; line-height: 0.67rem; font-size: 16px; background: #f87b68; border-radius: 0.67rem; display: block; clear: both; text-align: center; margin:0 auto 0.58rem; box-shadow: 0.05rem 0.05rem 0.24rem rgba(248,135,116,0.75);}

/*.layer_money,.layer{display: block;}*/


/*20181129*/
.prize_ii{margin-bottom: 0.44rem; }
.prize_ii > p{color: #f87b68; font-size: 16px; line-height: 20px; text-align: center; margin-bottom: 0.4rem;}
.prize_ee{width: 3rem; padding: 0.24rem;border-radius: 0.12rem; box-shadow: 0 0 0.24rem rgba(124,124,124,0.75); margin: auto;}
.prize_ee > p{color: #b9b9b9; text-align: center; font-size: 12px;}
.weixin_layer p{color:#fff; clear: both; padding: 0.5rem 0.25rem;}
.time{color: #b9b9b9; text-align: center; margin-bottom: 0.6rem; margin-top: -0.25rem;}
.time span{color:#e53435;}


/*20181203*/
.win{padding-bottom: 0.3rem;}
.win h1{font-size: 16px; color: #bd1c1d; font-weight: bold;}
.win h2{color: #bebebe; font-weight: normal; margin-bottom: 0.2rem;}

.win table{font-size: 12px; width: 100%;}
.win thead{color: #000000;}
.win thead tr th:nth-child(1){width: 22.8%; padding-right: 10px;}
.win thead tr th:nth-child(2){padding-right: 10px;}
.win thead tr th:nth-child(3){ width: 90px;}
.win tbody{color: #b9b9b9;width: 100%;}
.win tr{border-bottom: #e8e8e8 solid 1px;}
.win tr td,.win tr th{padding: 5px 0; line-height: 20px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.vv {padding: 0.3rem 0 0.1rem;}
.vv a{display: block;}
.vv img{height: 0.93rem;}

/*20181204*/
.vv .swiper-container{width: 6.22rem;}
.head_icon1{animation: shake 1.5s infinite;-webkit-animation: shake 1.5s infinite;}

@keyframes shake{
	0%, 60% {
	    -webkit-transform: rotateZ(0);
	    -ms-transform: rotateZ(0);
	    transform: rotateZ(0);
	}
	5%,15%,25%, 35%, 45%, 55% {
	    -webkit-transform: rotateZ(-20deg);
	    -ms-transform: rotateZ(-20deg);
	    transform: rotateZ(-20deg);
	}
	10%, 20%, 30%, 40%,50%{
	    -webkit-transform: rotateZ(20deg);
	    -ms-transform: rotateZ(20deg);
	    transform: rotateZ(20deg);
	}
}

@-webkit-keyframes shake{
	0%, 60% {
	    -webkit-transform: rotateZ(0);
	    -ms-transform: rotateZ(0);
	    transform: rotateZ(0);
	}
	5%,15%,25%, 35%, 45%, 55% {
	    -webkit-transform: rotateZ(-20deg);
	    -ms-transform: rotateZ(-20deg);
	    transform: rotateZ(-20deg);
	}
	10%, 20%, 30%, 40%,50%{
	    -webkit-transform: rotateZ(20deg);
	    -ms-transform: rotateZ(20deg);
	    transform: rotateZ(20deg);
	}
}

/*20181205*/

.backToTop{width: 0.54rem; position: fixed; bottom: 3rem; right: 0.25rem; display: none; z-index: 10000;}
.arrow_x{width: 100%; float: left; position: relative;transition: all 0s; -webkit-transition: all 0s;}
.arrow_x.c1{color: #975821; display: none;}
.arrow_x.c1:before{content: ''; width: 1px; height: 24px; background: #d2d2d2; position: absolute; top: 50%; margin-top: -12px; left: 0;}
.arrow_x img{height: 8px; margin-top: 21px;}
.comment.on .arrow_x{width: 50%; }
.comment.on .arrow_x.c1{display: block;}


/*20181206*/
.hotTitle{display: none;}
.hot_list{border-top: #e4cca3 solid 1px; margin-top: 0.4rem;}
.hot_list ul li:last-child{border-bottom-color: #e4cca3;}
.hot_icon{width: 0.3rem; margin: -0.05rem 0 0 0.11rem;}


/*20181207*/
#video{position: absolute; top: 50%; left: 0; transform: translateY(-50%); -webkit-transform: translateY(-50%);}
